In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe?

In [9]:
row2=df.iloc[1]

In [10]:
print(row2)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

iloc takes inbuilt indexes and loc takes named indexes.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2]?

In [13]:
reindex=df.reindex([3,0,1,2])

In [14]:
reindex

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [15]:
new_df=pd.DataFrame(reindex)

In [16]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [17]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [18]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [19]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [20]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.317491  0.339165  0.374764  0.161476  0.405757  0.767259
2  0.661711  0.217301  0.357401  0.929581  0.595755  0.163466
3  0.791206  0.929514  0.596631  0.269497  0.623435  0.060881
4  0.631460  0.118721  0.417014  0.586896  0.653371  0.314157
5  0.342428  0.273379  0.397845  0.324594  0.749448  0.013199
6  0.723045  0.921488  0.216558  0.359871  0.900807  0.199082

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’?

In [21]:
g=df1.groupby('column_2')

In [23]:
g.std()

          column_1  column_3  column_4  column_5  column_6
column_2
0.118721       NaN       NaN       NaN       NaN       NaN
0.217301       NaN       NaN       NaN       NaN       NaN
0.273379       NaN       NaN       NaN       NaN       NaN
0.339165       NaN       NaN       NaN       NaN       NaN
0.921488       NaN       NaN       NaN       NaN       NaN
0.929514       NaN       NaN       NaN       NaN       NaN

In [25]:
g1=df1.groupby(['column_1','column_2','column_3','column_4','column_5','column_6'])

In [26]:
g1.mean()

Empty DataFrame
Columns: []
Index: [(0.317491153993645, 0.33916512368651563, 0.3747641979547559, 0.16147555530974467, 0.40575686395385424, 0.7672587962973274), (0.342428037568577, 0.2733790001709917, 0.3978450789231468, 0.32459439385997646, 0.7494483981987174, 0.013198971926652758), (0.63146030009517, 0.11872106825718431, 0.4170135199742281, 0.5868958638563931, 0.6533713440811226, 0.3141569177138125), (0.661711145761788, 0.21730053793054827, 0.35740061421375324, 0.9295807051343243, 0.5957553352469228, 0.1634659404706068), (0.7230451204414673, 0.921487531103694, 0.21655786822491563, 0.359870897214853, 0.9008071301466293, 0.19908181267051883), (0.7912062559557255, 0.9295138160303899, 0.5966314468462867, 0.26949730037689545, 0.623434884512953, 0.06088093327731292)]

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]?

In [27]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.317491  0.339165  0.374764  0.161476  0.405757  0.767259
2  0.661711  0.217301  0.357401  0.929581  0.595755  0.163466
3  0.791206  0.929514  0.596631  0.269497  0.623435  0.060881
4  0.631460  0.118721  0.417014  0.586896  0.653371  0.314157
5  0.342428  0.273379  0.397845  0.324594  0.749448  0.013199
6  0.723045  0.921488  0.216558  0.359871  0.900807  0.199082

In [29]:
df1.loc[2, 'column_2'] = 'string data'

In [1]:
mean_column_2 = df1['column_2'].mean()

NameError: name 'df1' is not defined

The data type of column_2 is not specified in the original code, it is possible that there could be errors when trying to calculate the mean. If the data type of column_2 is not numeric (e.g., if it contains string data), then trying to calculate the mean will result in a TypeError. In this case, you would need to first convert the data in column_2 to a numeric data type (e.g., by using the .astype() method) before calculating the mean.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In Pandas, a window function is a way to perform a calculation over a specified sliding window of data in a DataFrame or Series. The window can be defined by a fixed number of rows or by a time-based interval. The result of the window function is a new DataFrame or Series with the same index as the original data, where each value is the result of the calculation performed over the corresponding window of data.

There are several types of window functions available in Pandas, including:

Rolling Window: This window function calculates the result based on a fixed-size sliding window of data. It takes a window size parameter and can perform a wide variety of calculations, such as mean, median, standard deviation, and more.

Expanding Window: This window function calculates the result based on all the data up to the current point in time. It includes all the rows up to the current row and can be used to calculate the cumulative sum, mean, and other statistical calculations.

Exponentially Weighted Window: This window function calculates the result based on a weighted average of the data in the window, with more recent data being given more weight. It can be used to calculate a moving average or other calculations that give more importance to recent data.

Rolling Time Window: This window function works similarly to the rolling window, but it takes a time-based window size instead of a fixed number of rows. It can be used to perform calculations over a specified time period, such as a week or a month.

Rolling Window with Groupby: This window function is similar to the rolling window, but it can be applied to a DataFrame with multiple groups. It can be used to calculate group-specific statistics over a sliding window of data.

Q7. Write a code to print only the current month and year at the time of answering this question?
[Hint: Use pandas.datetime function]

In [1]:
import pandas as pd
today=pd.datetime.now()
current_month=today.month
current_year=today.year
current_time=today.strftime('%H:%M:%s')
print('current month:',current_month)
print('current year:',current_year)
print('current time:',current_time)

current month: 3
current year: 2023
current time: 17:55:1678038954

/tmp/ipykernel_1455/1846534560.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  today=pd.datetime.now()

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result?

In [39]:
import pandas as pd 
date1=input('Enter your first date(yyyy-mm-dd)')
date2=input('Enter your first date(yyyy-mm-dd)')
dt1=pd.to_datetime(date1)
dt2=pd.to_datetime(date2)
time_diff=dt2-dt1
days_diff=time_diff.days
hour_diff=time_diff.seconds // 3600
minutes_diff=(time_diff.seconds // 60) % 60
print("Time difference between", date1, "and", date2, ":")
print("Days:", days_diff)
print("Hours:", hour_diff)
print("Minutes:", minutes_diff)

Enter your first date(yyyy-mm-dd) 2023-03-05
Enter your first date(yyyy-mm-dd) 2023-04-02

Time difference between 2023-03-05 and 2023-04-02 :
Days: 28
Hours: 0
Minutes: 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data?

In [5]:

import pandas as pd
data = {"id":[1,2,3,4,5,6,7,8],
       "Category":['A','C','C','D','D','F','A','A']
       }

In [6]:
df = pd.DataFrame(data)
df.to_csv('q9.csv')

In [ ]:
file_path= input("Enter the path to csv file: ")
column_name=input('Enter the name of the column to convert: ')
category_order=input('Enter the category order(comma-separated list): ')

data1=pd.read_csv(file_path)
categories=category_order.split(",")
data[column_name]=pd.Categorical(data1[column_name],categories=categories,ordered=True)

sorted_data = data1.sort_values(by=column_name)

print(f'{file_path=}')ta

print(f'{column_name=}')
print(f'{category_order=}')

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart?

In [ ]:
file_path=input('Enter the path of csv file containg sales data: ')
sales=pd.read_csv(file_path)
sales['Date']=sales['Date'].astype('datetime64')
sales.head()

In [ ]:
sales_grouped=sales.groupby(['Date','Category'])['Sales'].sum().reset_index()
sales_grouped.head()

In [ ]:
sales_pivot=sales_grouped.pivot(index='Date',columns='Category',values='Sales')
sales_pivot

In [ ]:
import matplotlib.pyplot as plt 
sales_pivot.plot(kind='barh',stacked=True)
plt.title('Sales by category over time')
plt.xlabel('Date')
plt.ylabel('sales')
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd
file_path='student_data.csv'
students=pd.read_csv(file_path)

st_stats={
    'Mean': students['Test Score'].mean(),
    'Median': students['Test Score'].median(),
    'Mode': students['Test Score'].mode()
}

pd.DataFrame.from_dict(st_stats, orient='index',columns=['Values'])